/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT    0
#define NUM_MATH   1
#define NAVIGATE   2
#define MEDIA      3
#define GAME       4
#define BLUETOOTH  5

&mmv {
   time-to-max-speed-ms = <680>;
   acceleration-exponent=<2>;
};

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };


                td_shft_cplk: tapdance_shift_capslock {
                        compatible = "zmk,behavior-tap-dance";
                        label = "TAPDANCE_SHIFT_CAPSLOCK";
                        #binding-cells = <0>;
                        tapping-term-ms = <100>;
                        bindings = <&sk LSHFT> , <&kp CAPS>;
                };

                td_bspc_del: tapdance_bkspc_del {
                        compatible = "zmk,behavior-tap-dance";
                        label = "TAPDANCE_BKSPC_DEL";
                        #binding-cells = <0>;
                        tapping-term-ms = <100>;
                        bindings = <&kp BSPC> , <&kp DEL>;
                };

                
        };

        keymap {
                compatible = "zmk,keymap";

                // ===================================================================================================================
                // Default Layer [Colemak-DH]
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |   Q   |   W   |   F   |   P   |   B   ||      ||   J   |   L   |   U   |   Y   |   ;   | EMPTY |
                // | EMPTY |   A   |   R   |   S   |   T   |   G   ||      ||   M   |   N   |   E   |   I   |   O   | EMPTY |
                // | EMPTY |   Z   |   X   |   C   |   D   |   V   ||      ||   K   |   H   |   ,   |   .   |   /   | EMPTY |
                //                         |  CTRL |  TAB  |  SHFT ||      ||  SPC  |  BSPC |  RET  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods, Mod-Tap and Tap-Dance
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |   !   |   @   |   #   |   $   |   %   ||      ||   ^   |   &   |   *   |   (   |   )   | EMPTY |
                // | EMPTY |       |  ESC  |  ALT  |  GUI  |       ||      ||       |  GUI  |  ALT  |       |   '   | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||   [   |   ]   |   -   |   =   |   \   | EMPTY |
                //                         |       |  MEH  |  CAPS ||      ||       |  DEL  |  NUM  |
                // ===================================================================================================================
                default_layer {
                bindings = <
                &none   &mt EXCL Q   &mt AT W    &mt HASH F   &mt DLLR P             &mt PRCNT B          &mt CARET J   &mt AMPS L     &mt STAR U        &mt LPAR Y      &mt RPAR SEMI   &none
                &none   &kp A        &hm ESC R   &hm LALT S   &hm LGUI T             &kp G                &kp M         &hm LGUI N     &hm LALT E        &kp I           &mt SQT O       &none
                &none   &kp Z        &kp X       &kp C        &kp D                  &kp V                &mt LBKT K    &mt RBKT H     &mt MINUS COMMA   &mt EQUAL DOT   &mt BSLH FSLH   &none
                                                 &sk LCTRL    &mt LC(LS(LALT)) TAB   &td_shft_cplk        &kp SPACE     &td_bspc_del   &lt NUM_MATH RET
                >;
                };

                // ===================================================================================================================
                // Numbers and Math Operators Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |  ESC  |       |   7   |   8   |   9   ||      ||   -   |   +   |       |   (   |   )   | EMPTY |
                // | EMPTY |  TAB  |       |   4   |   5   |   6   ||      ||   /   |   *   |   ~   |       |       | EMPTY |
                // | EMPTY |  SHFT |  LC_a |   1   |   2   |   3   ||      ||   =   |   %   |       |       |       | EMPTY |
                //                         |  CTRL |   0   |  NAVI ||      ||  SPC  |  BSPC |  RET  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |  ALT  |  GUI  |       ||      ||       |  GUI  |  ALT  |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |  DEL  |  DFT  |
                // ===================================================================================================================
                num_math_layer {
                bindings = <
                &none   &kp ESC     &none       &kp N7        &kp N8       &kp N9              &kp MINUS   &kp PLUS       &none           &kp LPAR   &kp RPAR   &none
                &none   &kp TAB     &none       &hm LALT N4   &hm GUI N5   &kp N6              &kp FSLH    &hm GUI STAR   &hm ALT TILDE   &none      &none      &none
                &none   &sk LSHFT   &sk LC(A)   &kp N1        &kp N2       &kp N3              &kp EQUAL   &kp PRCNT      &none           &none      &none      &none
                                                &sk LCTRL     &kp N0       &mo NAVIGATE        &kp SPACE   &td_bspc_del   &lt DEFAULT RET
                >;
                };

                // ===================================================================================================================
                // Navigation and Mouse Layer -- !!  WORK IN PROGRESS UNTIL MOUSE KEYS AND MOVEMENT ARE SUPPORTED.  !!
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||   LT  |   DN  |   UP  |   RT  |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |  GAME |       |  DNC  ||      ||       |       |       |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |  DNC  ||      ||       |       |       |
                // ===================================================================================================================
                navi_mouse_layer {
                bindings = <
                &none   &none   &none   &mmv MOVE_UP      &none   &none        &none      &none      &none         &none       &none   &none
                &none   &none   &none   &none      &none   &none        &kp LEFT   &kp DOWN   &kp UP        &kp RIGHT   &none   &none
                &none   &none   &none   &none      &none   &none        &none      &none      &none         &none       &none   &none
                                        &to GAME   &none   &none        &none      &none      &none
                >;
                };

                // ===================================================================================================================
                // Media Control Layer - UNUSED FOR NOW
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |  PLPS |  PREV |  NEXT |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |  VUP  |  VDN  |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |  NUM  |       |  BUP  |  BDN  |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |  NAVI |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                media_layer {
                bindings = <
                &none   &none         &kp C_PP   &kp C_PREV     &kp C_NEXT     &none              &none   &none   &none          &none   &none   &none
                &none   &none         &none      &kp C_VOL_UP   &kp C_VOL_DN   &none              &none   &none   &none          &none   &none   &none
                &none   &to NUM_SYM   &none      &kp C_BRI_UP   &kp C_BRI_DN   &none              &none   &none   &none          &none   &none   &none
                                                 &none          &none          &to DEFAULT        &none   &none   &to NAVIGATE
                >;
                };

                // ===================================================================================================================
                // Game Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |   Q   |   W   |   E   |   R   |   T   ||      ||   Y   |   U   |   I   |   O   |   ;   | EMPTY |
                // | EMPTY |   A   |   S   |   D   |   F   |   G   ||      ||   H   |   J   |   K   |   L   |   P   | EMPTY |
                // | EMPTY |   Z   |   X   |   C   |   V   |   B   ||      ||   N   |   M   |   ,   |   .   |   /   | EMPTY |
                //                         |  CTRL |  TAB  |  SPC  ||      ||  SPC  |  BSPC |  NUM  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                game_layer {
                bindings = <
                &none   &kp Q       &kp W   &kp E   &kp R       &kp T            &kp Y     &kp U      &kp I         &kp O     &hm LALT SEMI   &none
                &none   &kp A       &kp S   &kp D   &kp F       &kp G            &kp H     &kp J      &kp K         &kp L     &kp P      &none
                &none   &kp LSHFT   &kp X   &kp C   &kp V       &kp B            &kp N     &kp M      &kp COMMA     &kp DOT   &hm ESC FSLH   &none
                                            &kp Z   &kp LCTRL   &kp SPACE        &kp TAB   &hm RET BSPC   &to DEFAULT
                >;
                };

                // ===================================================================================================================
                // Bluetooth Manager Layer - UNUSED FOR NOW
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |  BLP  |  BLN  |       ||      ||  BLC  |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |  NUM  |       |       |       |  BL1  ||      ||  BL2  |       |       |       |  NUM  | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |       |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |       |
                // ===================================================================================================================
                blu_layer {
                bindings = <
                &none   &none         &none   &bt BT_PRV   &bt BT_NXT   &none               &bt BT_CLR     &none   &none   &none   &none          &none
                &none   &none         &none   &none        &none        &none               &none          &none   &none   &none   &none          &none
                &none   &to NUM_SYM   &none   &none        &none        &bt BT_SEL 1        &bt BT_SEL 2   &none   &none   &none   &to NAVIGATE   &none
                                              &none        &none        &to DEFAULT         &none          &none   &none
                >;
                };
        };
};
