/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT    0
#define NUM_SYM    1
#define NAVIGATE   2
#define TMUX       3
#define MEDIA      4
#define BLUETOOTH  5
#define GAME       6

/ {
        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };


                td: tapdance {
                        compatible = "zmk,behavior-tap-dance";
                        label = "TAPDANCE";
                        #binding-cells = <0>;
                        tapping-term-ms = <250>;
                        bindings = <&kp CAPS> , <&kp BSPC>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                // ===================================================================================================================
                // Default Layer [Colemak-DH]
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |   Q   |   W   |   F   |   P   |   B   ||      ||   J   |   L   |   U   |   Y   |   ;   | EMPTY |
                // | EMPTY |   A   |   R   |   S   |   T   |   G   ||      ||   M   |   N   |   E   |   I   |   O   | EMPTY |
                // | EMPTY |   Z   |   X   |   C   |   D   |   V   ||      ||   K   |   H   |   ,   |   .   |   /   | EMPTY |
                //                         |  CTRL |  TAB  |  SHFT ||      ||  SPC  |  BSPC |  NUM  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |   |   |       |   '   | EMPTY |
                // | EMPTY |       |  DEL  |  ALT  |  GUI  |       ||      ||       |  GUI  |  ALT  |  LBRC |  RBRC | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |   -   |   =   |   !   | EMPTY |
                //                         |       |       |       ||      ||  RTN  |  CAPS |       |
                // ===================================================================================================================
                default_layer {
                bindings = <
                &none   &kp Q   &kp W       &kp F        &kp P          &kp B            &kp J           &kp L           &hm PIPE U        &kp Y            &hm SQT SEMI     &none
                &none   &kp A   &hm DEL R   &hm LALT S   &hm LGUI T     &hm ESC G        &kp M           &hm LGUI N      &hm LALT E        &hm LS(LBKT) I   &hm LS(RBKT) O   &none
                &none   &kp Z   &kp X       &kp C        &kp D          &kp V            &kp K           &kp H           &hm MINUS COMMA   &hm EQUAL DOT    &hm EXCL FSLH    &none
                                            &kp LCTRL    &kp TAB        &kp LSHFT        &hm RET SPACE   &td   &lt NUM_SYM BSPC
                >;
                };

                // ===================================================================================================================
                // Numbers and Symbols Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |  ESC  |   @   |   #   |   $   |   %   ||      ||   -   |   =   |   7   |   8   |   9   | EMPTY |
                // | EMPTY |  TAB  |   ^   |   &   |   *   |   !   ||      ||   +   |   0   |   4   |   5   |   6   | EMPTY |
                // | EMPTY |   |   |  BSLH |  FSLH |  LBKT |  RBKT ||      ||  LPAR |  RPAR |   1   |   2   |   3   | EMPTY |
                //                         |  CTRL |  TAB  |  DFT  ||      ||  SPC  |  BSPC |  NAVI |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |   `   ||      ||   ~   |       |       |       |       | EMPTY |
                // | EMPTY |  SHFT |  DEL  |  ALT  |  GUI  |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||  RTN  |  LC_a |       |
                // ===================================================================================================================
                num_sym_layer {
                bindings = <
                &none   &kp ESC      &kp AT          &kp HASH        &kp DLLR       &hm GRAVE PRCNT        &hm TILDE MINUS   &kp EQUAL        &kp N7         &kp N8   &kp N9   &none
                &none   &kp LSHIFT   &hm DEL CARET   &hm LALT AMPS   &hm GUI STAR   &kp EXCL               &kp PLUS          &kp N0           &kp N4         &kp N5   &kp N6   &none
                &none   &kp PIPE     &kp BSLH        &kp FSLH        &kp LBKT       &kp RBKT               &kp LPAR          &kp RPAR         &kp N1         &kp N2   &kp N3   &none
                                                     &kp LCTRL       &kp TAB        &to DEFAULT            &hm RET SPACE     &hm LC(A) BSPC   &to NAVIGATE
                >;
                };

                // ===================================================================================================================
                // Navigation and Mouse Layer -- !!  WORK IN PROGRESS UNTIL MOUSE KEYS ARE SUPPORTED. ACTUAL KEYS DO NOT REFLECT VISUALIZED LAYOUT  !!
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |  ESC  |  MSLT |  MUP  |  MSRT |       ||      ||  BCK  |  PVTB |  NXTB |  FWRD |       | EMPTY |
                // | EMPTY |  LTCK |  MLT  |  MDN  |  MRT  |  RTCK ||      ||   LT  |   DN  |   UP  |   RT  |       | EMPTY |
                // | EMPTY |  GAME |  MSUP |       |  MSDN |       ||      ||       |       |       |       |  BLU  | EMPTY |
                //                         |  TMUX |  TAB  |  DFT  ||      ||  RET  |  LC_a |  NUM  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                navi_mouse_layer {
                bindings = <
                &none   &kp ESC   &none   &none      &none     &none              &none       &none       &none         &none             &none   &none
                &none   &none     &none   &none      &none     &none              &kp LEFT    &kp DOWN    &kp UP        &kp RIGHT_ARROW   &none   &none
                &none   &none     &none   &none      &none     &none              &kp LSHFT   &none       &none         &none             &none   &none
                                          &to GAME   &kp TAB   &to DEFAULT        &kp RET     &kp LC(A)   &to NUM_SYM
                >;
                };

                // ===================================================================================================================
                // TMUX Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |  ESC  |       |       |       |       ||      ||       |       |   7   |   8   |   9   | EMPTY |
                // | EMPTY |       |       |       |       |   UP  ||      ||   DN  |   0   |   4   |   5   |   6   | EMPTY |
                // | EMPTY |   |   |       |       |       |   LT  ||      ||   RT  |       |   1   |   2   |   3   | EMPTY |
                //                         |  ALT  |       |  DFT  ||      ||       |  LC_a |  NAVI |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |   `   ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |  SHFT |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |   |   |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                tmux_layer {
                bindings = <
                &none   &kp ESC    &none   &none      &none    &none              &none       &none       &kp N7         &kp N8   &kp N9   &none
                &none   &none      &none   &none      &none    &kp UP             &kp DOWN    &kp N0      &kp N4         &kp N5   &kp N6   &none
                &none   &kp PIPE   &none   &none      &none    &kp LEFT           &kp RIGHT   &none       &kp N1         &kp N2   &kp N3   &none
                                           &kp LALT   &none    &to DEFAULT        &none       &kp LC(A)   &to NAVIGATE
                >;
                };

                // ===================================================================================================================
                // Media Control Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |  PLPS |  PREV |  NEXT |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |  VUP  |  VDN  |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |  NUM  |       |  BUP  |  BDN  |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |  NAVI |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                media_layer {
                bindings = <
                &none   &none         &kp C_PP   &kp C_PREV     &kp C_NEXT     &none              &none   &none   &none          &none   &none   &none
                &none   &none         &none      &kp C_VOL_UP   &kp C_VOL_DN   &none              &none   &none   &none          &none   &none   &none
                &none   &to NUM_SYM   &none      &kp C_BRI_UP   &kp C_BRI_DN   &none              &none   &none   &none          &none   &none   &none
                                                 &none          &none          &to DEFAULT        &none   &none   &to NAVIGATE
                >;
                };

                // ===================================================================================================================
                // Bluetooth Manager Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |  BLP  |  BLN  |       ||      ||  BLC  |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |  NUM  |       |       |       |  BL1  ||      ||  BL2  |       |       |       |  NUM  | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |       |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |  DFT  ||      ||       |       |       |
                // ===================================================================================================================
                blu_layer {
                bindings = <
                &none   &none         &none   &bt BT_PRV   &bt BT_NXT   &none               &bt BT_CLR     &none   &none   &none   &none          &none
                &none   &none         &none   &none        &none        &none               &none          &none   &none   &none   &none          &none
                &none   &to NUM_SYM   &none   &none        &none        &bt BT_SEL 1        &bt BT_SEL 2   &none   &none   &none   &to NAVIGATE   &none
                                              &none        &none        &to DEFAULT         &none          &none   &none
                >;
                };

                // ===================================================================================================================
                // Game Layer
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |   Q   |   W   |   E   |   R   |   T   ||      ||   Y   |   U   |   I   |   O   |   ;   | EMPTY |
                // | EMPTY |   A   |   S   |   D   |   F   |   G   ||      ||   H   |   J   |   K   |   L   |   P   | EMPTY |
                // | EMPTY |   Z   |   X   |   C   |   V   |   B   ||      ||   N   |   M   |   ,   |   .   |   /   | EMPTY |
                //                         |  CTRL |  TAB  |  SPC  ||      ||  SPC  |  BSPC |  NUM  |
                // -------------------------------------------------------------------------------------------------------------------
                // Homerow Mods and Tap-Dancing
                // -------------------------------------------------------------------------------------------------------------------
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                // | EMPTY |       |       |       |       |       ||      ||       |       |       |       |       | EMPTY |
                //                         |       |       |       ||      ||       |       |       |
                // ===================================================================================================================
                game_layer {
                bindings = <
                &none   &kp Q       &kp W   &kp E   &kp R       &kp T            &kp Y     &kp U      &kp I         &kp O     &hm LALT SEMI   &none
                &none   &kp A       &kp S   &kp D   &kp F       &kp G            &kp H     &kp J      &kp K         &kp L     &kp P      &none
                &none   &kp LSHFT   &kp X   &kp C   &kp V       &kp B            &kp N     &kp M      &kp COMMA     &kp DOT   &hm ESC FSLH   &none
                                            &kp Z   &kp LCTRL   &kp SPACE        &kp TAB   &hm RET BSPC   &to DEFAULT
                >;
                };
        };
};

// default_layer {
//                 bindings = <
//                 &none   &kp Q   &kp W       &kp F        &kp P          &kp B            &kp J           &kp L           &td PIPE U        &kp Y            &td SQT SEMI     &none
//                 &none   &kp A   &hm DEL R   &hm LALT S   &hm LGUI T     &kp G            &kp M           &hm LGUI N      &hm LALT E        &hm LS(LBKT) I   &hm LS(RBKT) O   &none
//                 &none   &kp Z   &kp X       &kp C        &kp D          &kp V            &kp K           &kp H           &td MINUS COMMA   &td EQUAL DOT    &td EXCL FSLH    &none
//                                             &kp LCTRL    &kp TAB        &kp LSHFT        &td RET SPACE   &td CAPS BSPC   &to NUM_SYM
//                 >;
//                 };
